:root {
  --main-bg-color: #fff;
  --text-color: #000;
}

body {
  font-family: "Varela Round", sans-serif;
  background-color: var(--main-bg-color);
  /* max-width: 1400px;
  margin: 0 auto 6em auto; */
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}

header img {
  max-height: 300px;
  max-width: 60%;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 0.05em;
}

h1 a,
h2 a {
  text-decoration: none;
  color: black;
}

h2 {
  margin: 1em;
  letter-spacing: 0.05em;
}

h3 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 4em;
  }
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0 1.6em;
  font-size: 1.2em;
  max-width: 400px;
}

.nav > a {
  text-decoration: none;
  color: var(--text-color);
}

.nav > a:hover {
  text-decoration: underline;
}

.nav > a > img {
  height: 1.2em;
}

.grid {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  flex-direction: row;
}

.grid > a > img,
.grid > img {
  width: 400px;
  height: 400px;
  max-width: 100%;
  object-fit: cover;
}

.grid > img:hover,
.grid > video:hover {
  background: black;
  opacity: 0.5;
}

.grid a {
  background: black;
}

.grid img:hover {
  opacity: 0.7;
}

.content {
  max-width: 1000px;
  margin: auto;
  padding: 0 1em;
}

.content > img {
  max-width: 100%;
}

.details {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.details img {
  max-width: 100%;
}
